<main
  class="default-padding max-md:mt-8 "
>
  <app-title-display
    [center]="true"
    [subtitle]="profileTexts.subtitle"
    [title]="profileTexts.title"
    [subtitleColor]="profileTexts.subtitleColor"
    [titleColor]="profileTexts.titleColor"
  />
  <section
    class="flex flex-col gap-5 lg:flex-row"
  >
    @if (company$ | async; as company) {
      <div class="bg-white overflow-hidden shadow rounded-lg border w-full lg:w-[387px] h-max">
        <div class="px-4 py-5 sm:px-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
                Empresa
            </h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">
                Informações
            </p>
        </div>
        <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
            <dl class="sm:divide-y sm:divide-gray-200">
                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Nome
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ company.name }}
                    </dd>
                </div>
                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Email
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ company.email }}
                    </dd>
                </div>
                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Segmento
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ company.companyDepartment | translateEnum: 'Department' }}
                    </dd>
                </div>
                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Phone
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ company.phone }}
                    </dd>
                </div>
                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Endereço
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ company.address }}
                    </dd>
                </div>
                <div
                  class="flex flex-col gap-6 justify-center p-5 text-gray-500 font-semibold"
                >
                <button
                  class="inline-flex w-full justify-center rounded-md bg-emerald-300 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-emerald-400 sm:ml-3 sm:w-auto hover:scale-105 cursor-pointer transition duration-300 ease-in-out"
                    (click)="this.modalManager.open('profile')"
                  >
                    Editar
                  </button>
                  <button
                    class="inline-flex w-full justify-center rounded-md bg-emerald-500 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-emerald-600 sm:ml-3 sm:w-auto hover:scale-105 cursor-pointer transition duration-300 ease-in-out"
                    (click)="this.modalManager.open('editPassword')"
                  >
                    Editar Senha
                  </button>
                  <button
                    class="inline-flex w-full justify-center rounded-md bg-red-400 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-red-500 sm:ml-3 sm:w-auto hover:scale-105 cursor-pointer transition duration-300 ease-in-out"
                    (click)="logout()"
                  >
                    Logout
                  </button>
                </div>
            </dl>
        </div>
      </div>
    }
    <section
      class="flex flex-col gap-5 w-full lg:w-[calc(100%-387px)]"
    >
      <app-table
        (buttonClicked)="this.modalManager.open('createProduct')"
        buttonTitle="Novo Produto"
        subtitle="Registrados"
        title="Produtos"
        [theads]="['Nome', 'Category', 'Solicitações', 'Ações']"
      >
        @for (prod of products$ | async; track prod.id) {
          <tr>
            <td
              class="p-4"
            >
              <div class="flex gap-4 items-center">
                {{ prod.name }}
              </div>
            </td>
            <td
              class="p-4"
            >
              {{ prod.category | translateEnum: 'Category'}}
            </td>
            <td
              class="p-4"
            >
              {{ prod.interestCount }}
            </td>
            <td
              class="p-2"
            >
              <div
                class="flex flex-col gap-2 font-semibold"
              >
                <button
                  class="inline-flex w-full justify-center rounded-md bg-emerald-200 px-3 py-1 text-sm font-semibold text-white shadow-xs hover:bg-emerald-300 sm:ml-3 sm:w-auto hover:scale-105 cursor-pointer transition duration-300 ease-in-out"
                  (click)="openOverview(prod.id)"
                >
                  Overview
                </button>
                <button
                  class="inline-flex w-full justify-center rounded-md bg-emerald-400 px-3 py-1 text-sm font-semibold text-white shadow-xs hover:bg-emerald-500 sm:ml-3 sm:w-auto hover:scale-105 cursor-pointer transition duration-300 ease-in-out"
                  (click)="searchProduct(prod.id); modalManager.open('editProduct')"
                >
                  Editar
                </button>
                <button
                  class="inline-flex w-full justify-center rounded-md bg-red-400 px-3 py-1 text-sm font-semibold text-white shadow-xs hover:bg-red-500 sm:ml-3 sm:w-auto hover:scale-105 cursor-pointer transition duration-300 ease-in-out"
                  (click)="this.idSelected.set(prod.id); this.modalManager.open('deleteProduct')"
                >
                  Deletar
                </button>
              </div>
            </td>
          </tr>
        }
      </app-table>

      <app-table
        subtitle="Registradas"
        title="Suas Solicitações"
        [theads]="['Status', 'Quantidade', 'Preço Total', 'Data', 'Ações']"
      >
        @for (interested of interestedProducts$ | async; track interested.id) {
          <tr>
            <td
              class="p-4 uppercase"
            >
              {{ interested.status | translateEnum: 'Status' }}
            </td>
            <td
              class="p-4"
            >
              {{ interested.quantity }}
            </td>
            <td
              class="p-4"
            >
              {{ interested.totalPrice | formatPrice }}
            </td>
            <td
              class="p-4"
            >
              {{ interested.createdAt | formatDate }}
            </td>
            <td
              class="p-4 flex flex-col gap-2 font-semibold"
            >
              <a
                [href]="'/products/' + (interested.productId)"
                class="inline-flex w-full justify-center rounded-md bg-emerald-400 px-3 py-1 text-sm font-semibold text-white shadow-xs hover:bg-emerald-500 sm:ml-3 sm:w-auto hover:scale-105 cursor-pointer transition duration-300 ease-in-out"
              >
                Produto
              </a>
              <button
                class="inline-flex w-full justify-center rounded-md bg-red-400 px-3 py-1 text-sm font-semibold text-white shadow-xs hover:bg-red-500 sm:ml-3 sm:w-auto hover:scale-105 cursor-pointer transition duration-300 ease-in-out"
                (click)="this.idSelected.set(interested.id); this.modalManager.open('deleteInterested')"
              >
                Deletar
              </button>
            </td>
          </tr>
        }
      </app-table>
    </section>
  </section>

</main>

<app-profile-update-form
  (successfully)="this.modalManager.close('profile')"
  [isOpen]="this.modalManager.isOpen('profile')()"
  (clickedOutside)="this.modalManager.close('profile')"
/>

<app-product-form
  (successfully)="modalManager.close('createProduct'); updateProductsList()"
  [isOpen]="modalManager.isOpen('createProduct')()"
  (clickedOutside)="modalManager.close('createProduct')"
/>

@if (this.productUpdated()) {
  <app-product-update-form
    [isOpen]="modalManager.isOpen('editProduct')()"
    (clickedOutside)="modalManager.close('editProduct')"
    [product]="productUpdated()"
    (successfully)="modalManager.close('editProduct'); updateProductsList()"
  />
}

<app-modal-delete
  title="Deletar Produto"
  message="Você tem certeza que deseja deletar esse Produto?"
  [isOpen]="modalManager.isOpen('deleteProduct')()"
  (clickedOutside)="modalManager.close('deleteProduct')"
  (confirm)="deleteProduct(idSelected()); modalManager.close('deleteProduct')"
  (cancel)="modalManager.close('deleteProduct')"
  [isLoading]="this.isSubmitting()"
/>

<app-modal-delete
  title="Deletar Solicitação"
  message="Você tem certeza que deseja deletar essa Solicitação?"
  [isOpen]="modalManager.isOpen('deleteInterested')()"
  (clickedOutside)="modalManager.close('deleteInterested')"
  (confirm)="deleteInterestedProduct(idSelected()); modalManager.close('deleteInterested')"
  (cancel)="modalManager.close('deleteInterested')"
  [isLoading]="this.isSubmitting()"
/>

<app-modal-delete
  title="Editar Senha"
  message="Para editar a senha, é preciso fazer o logout!"
  confirmTitle="Continuar"
  [isOpen]="modalManager.isOpen('editPassword')()"
  (clickedOutside)="modalManager.close('editPassword')"
  (confirm)="recoverPassword(); modalManager.close('editPassword')"
  (cancel)="modalManager.close('editPassword')"
/>
