<footer
  class="default-padding bg-[#05444A] flex flex-col gap-10"
>
  <div class="flex flex-col sm:flex-col-reverse gap-10 md:flex-row-reverse">
    <section
      class="flex flex-col gap-7 sm:flex-row sm:justify-between sm:items-start md:w-[60%] lg:w-[70%]"
    >
      <div>
        <app-paragraph-support
          [color]="titleLinkColor"
          content="Paginas"
        />
        <ul class="flex flex-col gap-2 text-white font-semibold default-paragraph mt-3">
          <li><a href="/">Home</a></li>
          <li><a href="/about">Sobre</a></li>
          <li><a href="/contact">Contato</a></li>
          <li><a href="/signin">Login</a></li>
        </ul>
      </div>
      <div>
        <app-paragraph-support
          [color]="titleLinkColor"
          content="Categorias"
        />
        <ul class="flex flex-col gap-2 text-white font-semibold default-paragraph mt-3">
          <li><a [href]="'/products/trending'">Em Alta</a></li>
          <li><a [href]="'/products?category=' + (this.metalSlug)">Metal</a></li>
          <li><a [href]="'/products?category=' + (this.plasticSlug)">Plastico</a></li>
          <li><a [href]="'/products'">Todos</a></li>
        </ul>
      </div>
      <div>
        <app-paragraph-support
          [color]="titleLinkColor"
          content="Contato"
        />
        <ul class="flex flex-col gap-2 text-white font-semibold default-paragraph mt-3">
          <li><a href="#">sustentify&#64;gmail.com</a></li>
        </ul>
      </div>
    </section>
    <section>
      <div class="flex flex-col gap-2">
        <!-- Logo -->
        <app-sustentify-logo />
        <app-paragraph-support
          [color]="subtitleColor"
          content="Soluções de descarte responsável, impulsionando suas práticas sustentáveis e alinhando-se com os objetivos ESG."
        />
      </div>
    </section>
  </div>
  <section class="uppercase flex flex-col gap-2 text-white font-semibold
  ">
    <span class="w-full h-[2px] bg-slate-800"></span>
    <div class="flex flex-col sm:flex-row w-full sm:justify-between sm:items-center px-2 text-[10px] sm:text-[8px] md:text-[10px] lg:text-[12px]">
      <p>₢ 2025. todos os direitos reservados</p>
      <p>designed by guilherme ferreira</p>
    </div>
  </section>
</footer>
