<main
  class="default-padding max-md:mt-8"
>
  <app-title-display
    [center]="true"
    [subtitle]="productsTexts.subtitle"
    [subtitleColor]="productsTexts.subtitleColor"
    [title]="productsTexts.title"
    [titleColor]="productsTexts.titleColor"
  />
  <div class="w-full flex flex-col items-center justify-center mt-4">
    <div
      class="w-full grid grid-cols-[repeat(auto-fit,1fr)] md:grid-cols-[repeat(auto-fit,minmax(264px,1fr))] gap-4 mb-8"
    >
      @for (product of products$ | async; track product.id) {
        <app-product-card
          [productSummary]="product"
        />
      }
      @empty {
        <p>
          Nenhum Produto Encontrado!
        </p>
      }
    </div>
    <app-pagination />
  </div>
</main>
