@if (this.isTokenValid()) {
  <main
    class="default-padding max-md:mt-8"
  >
    <app-title-display
      [center]="true"
      [subtitle]="texts.subtitle"
      [subtitleColor]="texts.subtitleColor"
      [title]="texts.title"
      [titleColor]="texts.titleColor"
    />
    <div
      class="flex gap-8 flex-col md:flex-row mt-12"
    >
      <section
        class="w-full"
      >
        <p
          class="default-paragraph text-justify"
        >
          Sua senha deve conter no mínimo 8 caracteres, sendo pelo menos uma letra maiúscula, uma letra minúscula e um número. A senha deve ser única e não pode ser igual à senha anterior.
        </p>
        <form
          [formGroup]="form"
          (ngSubmit)="submit()"
          class="flex flex-col mt-6 justify-between"
        >
          <app-primary-input
            formControlName="email"
            inputName="email"
            label="Email da Empresa"
            placeholder="email@sustentify.com"
            type="text"
            [error]="form.controls.email.invalid && (form.controls['email'].touched || form.controls.email.dirty)"
            [errorMessage]="
              form.controls.email.errors?.['required'] && 'Email é obrigatório' ||
              form.controls.email.errors?.['email'] && 'Email invalido'
            "
          />

          <app-primary-input
            formControlName="password"
            inputName="password"
            label="Senha"
            placeholder="**********"
            type="password"
            [error]="form.controls.password.invalid && (form.controls['password'].touched || form.controls.password.dirty)"
            [errorMessage]="
              form.controls.password.errors?.['required'] && 'password é obrigatório'
            "
          />

          <app-primary-input
            formControlName="confirmPassword"
            inputName="confirmPassword"
            label="Confirmação de Senha"
            placeholder="**********"
            type="password"
            [error]="form.controls.confirmPassword.invalid && (form.controls['confirmPassword'].touched || form.controls.confirmPassword.dirty)"
            [errorMessage]="
              form.controls.confirmPassword.errors?.['required'] && 'confirmPassword é obrigatório' ||
              form.controls.confirmPassword.errors?.['passwordMismatch'] && 'As senhas não coincidem'
            "
          />

          <app-button-green
            title="Recuperar"
            type="submit"
            [disabled]="btnDisabled()"
          />
        </form>
      </section>
    </div>
  </main>
}
