<main
  class="default-padding max-md:mt-8"
>
  <app-title-display
    [center]="true"
    [subtitle]="recoverTexts.subtitle"
    [subtitleColor]="recoverTexts.subtitleColor"
    [title]="recoverTexts.title"
    [titleColor]="recoverTexts.titleColor"
  />
  <div
    class="flex gap-8 flex-col md:flex-row mt-12"
  >
    <section
      class="w-full"
    >
      <p
        class="default-paragraph text-justify"
      >
        Confira seu e-mail para criar uma nova senha. Caso não tenha recebido o e-mail, clique no botão abaixo para reenviar o link de recuperação.
      </p>
      <form
        [formGroup]="form"
        (ngSubmit)="submit()"
        class="flex flex-col mt-6 justify-between"
      >
        <app-primary-input
          formControlName="email"
          inputName="email"
          label="Email da Empresa"
          placeholder="email@sustentify.com"
          type="text"
          [error]="form.controls.email.invalid && (form.controls['email'].touched || form.controls.email.dirty)"
          [errorMessage]="
            form.controls.email.errors?.['required'] && 'Email é obrigatório' ||
            form.controls.email.errors?.['email'] && 'Email invalido' ||
            form.controls.email.errors?.['notfound'] && 'Email não encontrado'
          "
        />
        @if (errorMessage()) {
          <p class="mb-4 text-red-400 font-semibold">{{ errorMessage() }}</p>
        }
        @if (isSuccess()) {
          <p class="mb-4 text-emerald-400 font-semibold">Verifique sua caixa de email!</p>
        }

        <app-button-green
          title="Recuperar"
          type="submit"
          [disabled]="btnDisabled()"
        />
      </form>
    </section>
  </div>
</main>


