<main
  class="default-padding max-md:mt-8"
>
  <app-title-display
    #titleDisplay
    [center]="true"
    [subtitle]="about.subtitle"
    [subtitleColor]="about.subtitleColor"
    [title]="about.title"
    [titleColor]="about.titleColor"
  />
  <div
    class="flex gap-8 flex-col md:flex-row mt-12"
  >
    <section
      class="w-full md:w-2/4"
    >
      <img
        ngSrc="/sustentify/public/meeting_720x1080_uoalnt.jpg"
        width="720"
        height="1080"
        class="rounded-xl object-cover h-[342px] md:h-[80%]"
        priority
      />
    </section>
    <section
      class="w-full md:w-2/4"
    >
      <app-title-display
        [center]="false"
        [subtitle]="'em 2025'"
        [subtitleColor]="about.subtitleColor"
        [title]="'história'"
        [titleColor]="about.titleColor"
      />
      <div
        class="flex flex-col gap-3"
      >
        <p
          class="default-paragraph text-justify"
        >
          A Sustentify nasceu como um projeto de <strong>(PFC) Projeto Final de Curso</strong>, com o objetivo de enfrentar um dos maiores desafios do nosso tempo: a redução dos impactos ambientais causados pelo desperdício de materiais.
        </p>
        <p
          class="default-paragraph text-justify"
        >
          O projeto conta com a colaboração de <strong>orientadores da própria universidade</strong>, cujas expertise nas áreas de sustentabilidade, economia circular e inovação tecnológica foram essenciais para moldar a plataforma. A ideia surgiu da necessidade de criar um espaço onde empresas pudessem não apenas descartar seus produtos de maneira mais responsável, mas também encontrar maneiras de reaproveitar materiais que, de outra forma, seriam descartados de forma inadequada.
        </p>
        <p
          class="default-paragraph text-justify"
        >
          Nosso compromisso é transformar esses produtos em oportunidades de negócio e, ao mesmo tempo, reduzir o impacto ambiental gerado pelas atividades industriais e comerciais. A plataforma oferece não só a <strong>compra e venda de produtos descartados</strong>, mas contribui para a colaboração de práticas sustentáveis dentro da empresa.
        </p>
        <p
          class="default-paragraph text-justify"
        >
          Com a ajuda de nossos orientadores e a dedicação de um time engajado, a Sustentify visa facilitar a implementação da <strong>economia circular</strong> nas empresas, alinhando soluções inovadoras com a necessidade urgente de proteger nosso planeta. Acreditamos que, ao integrar empresas em um ecossistema mais sustentável, podemos juntos criar um futuro mais equilibrado e responsável.
        </p>
      </div>
    </section>
  </div>
</main>
