<div
  class="mb-4"
>
  <label
    [for]="inputName()"
    class="block text-gray-700 default-paragraph mb-2 tracking-wide"
  >
  {{ label() }}</label>
    <input
      [id]="inputName()"
      type="file"
      accept="image/png, image/jpeg, image/jpg"
      [placeholder]="placeholder()"
      (input)="onInput($event)"
      [class]="'shadow appearance-none rounded bg-[#f4f2f2] w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:shadow-gray-300 transition-all placeholder:opacity-50  default-paragraph ' + (error() ? 'shadow-red-300' : '')"
      [multiple]="multiple()"
    />
    @if (error()) {
      <span
        class="default-paragraph text-red-300"
      >
        {{ errorMessage() }}
      </span>
    }
</div>

